@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@()(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("HTWG in Reveris")) {
    <div class="card">
        <h1 class="card-header">About Reversi</h1>
        <div class="card-body">

            <p class="card-text">
                Reversi is a strategy board game for two players, played on an 8×8 uncheckered board. There are sixty-four identical game pieces called disks (often spelled "discs"), which are light on one side and dark on the other. Players take turns placing disks on the board with their assigned color facing up. During a play, any disks of the opponent's color that are in a straight line and bounded by the disk just placed and another disk of the current player's color are turned over to the current player's color.
            </p>

            <p class="card-text">
                The object of the game is to have the majority of disks turned to display your color when the last playable empty square is filled.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                The following image shows a freshly initialized game. <br>
                                <img src="@assets.path("images/reversi_new.png")" class="img-fluid">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                Now black made a valid turn <br>
                                <img src="@assets.path("images/reversi_black_turn.png")" class="img-fluid">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                The following picture shows a finished game where black won <br>
                                <img src="@assets.path("images/reversi_black_won.png")" class="img-fluid">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
