@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(implicit request: RequestHeader)
@activeLink(currentPath: String) = @{
    if (request.path)
        if(request.path == currentPath) "active"
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
            <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" >
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="/">Reversi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @activeLink("/new")">
                        <a class="nav-link" href="/new">New Game</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Size
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/resize/8">Large (8 x 8)</a>
                            <a class="dropdown-item" href="/resize/4">Small (4 x 4)</a>
                            <a class="dropdown-item" href="/resize/1">Tiny (1 x 1)</a>
                        </div>
                    </li>
                    <li class="nav-item @activeLink("/about")">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.slim.min.js")" ></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.bundle.min.js")" ></script>
    </body>
</html>
