@(controller:de.htwg.se.reversi.controller.controllerComponent.ControllerInterface, message: String)(implicit request: RequestHeader)

@size= @{ controller.gridSize }
@col_type(row : Int,col: Int) = @{
    val value = controller.cell(row,col).value
    value match {
        case 1 => "-one"
        case 2 => "-two"
        case 3 => "-candidate"
        case _ => ""
    }
}

@main("HTWG Reversi") {
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/reversi.css")' />
            <div class="gamecontainer">
                <div class="game">
                    @for(row <- 0 until size) {
                    <div class="clear">
                        @for(col <- 0 until size) {
                        <a class="@{"cell"+col_type(row,col)}" href="/set/@row/@col"></a>
                        }
                    </div>
                    }
                </div>
            </div>
    <div class="alert alert-primary" role="alert">
    @message
    </div>
}