@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(controller:de.htwg.se.reversi.controller.controllerComponent.ControllerInterface, message: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@size= @{ controller.gridSize }
@toScalar(house:Int, cell:Int)=@{ house*size + cell}
@col_type(row : Int,col: Int) = @{
    val value = controller.cell(row,col).value
    value match {
        case 1 => "-one"
        case 2 => "-two"
        case 3 => "-candidate"
        case _ => ""
    }
}

@main("HTWG Reversi") {
    <script src="@assets.path("javascripts/vue.js")" ></script>
    <script src="@assets.path("javascripts/reversiVue.js")" ></script>

    <link rel="stylesheet" href='@assets.path("stylesheets/reversi.css")' />
    <div id="reversi-game" class="pagecontainer">

        <reversi-field></reversi-field>

        @*
        <div class="gamecontainer">
        <div class="game">
        @for(row <- 0 until size) {
        <div class="clear">
        @for(col <- 0 until size) {
        <div class="cell@{col_type(row,col)}" id="scalar@{toScalar(row, col)}"></div>
        }
        </div>
        }
        </div>
        </div>
        *@
        <div class="alert alert-primary" role="alert">
        @message
        </div>
    </div>

}